{
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
