---
layout: home
title: Programação Orientada a Gambiarra
description: Cansou de se esforçar pra ser um profissional melhor e não ser reconhecido? Busca a verdadeira segurança? Almeja um encontro com o sucesso? Descubra como manter o seu emprego enquanto garante que o inferno seja uma amostra grátis do seu trabalho!
---

<!-- Hero -->
<div class="bg-dark">
    <div class="container col-xxl-8 px-4 pt-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">{{page.title}}</h1>
                    <p class="lead fw-normal text-white-50 mb-4">{{page.description}}</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a href="{{ 'capitulos/' | relative_url }}"
                        class="btn btn-primary btn-lg px-4 me-sm-3">
                        Comece a ler</a>
                        <a class="btn btn-secondary btn-lg px-4" href="{{ 'ajude/' | relative_url }}">Ajude esse projeto</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img src="{{ 'assets/images/cover/hero-lg.jpg' | relative_url }}"
                    class="img-fluid rounded-3 my-5" alt="Capa do Livro: {{page.title}} - {{page.description}}"
                    width="500" height="400" loading="lazy">
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div class="container px-4 pt-5">
    <h2 class="pb-3 text-center">Uma viagem pelo mundo da POGramação</h2>

    <div class="row row-cols-1 row-cols-md-3">

        <div class="col my-3">
            <div class="card text-center h-100 bg-light border-0 py-3">
                <div class="card-header text-dark border-0 bg-transparent">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-book fa-stack-1x text-light"></i>
                    </span>
                </div>
                <div class="card-body py-0 text-dark">
                    <h4>O que é POG?</h4>
                    <p>
                        Sabe o que é uma gambiarra? E uma marreta? Descubra o que
                        isso tem a ver com a Programação Orientada a Gambiarra.
                    </p>
                </div>
                <div class="card-footer border-0 bg-transparent pb-3">
                    <a href="{{'capitulos/o-que-e-pog/' | relative_url}}" class="btn btn-secondary stretched-link">
                        Leia mais <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col my-3">
            <div class="card text-center h-100 bg-light border-0 py-3">
                <div class="card-header text-dark border-0 bg-transparent">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-history fa-stack-1x text-light"></i>
                    </span>
                </div>
                <div class="card-body py-0 text-dark">
                    <h4>História</h4>
                    <p>
                        Sabia que a primeira POG é atribuída a um Papa? E que isso é
                        mentira? Não caia em fake news! Conheça a primeira POG da história!
                    </p>
                </div>
                <div class="card-footer border-0 bg-transparent pb-3">
                    <a href="{{'capitulos/historia/' | relative_url}}" class="btn btn-secondary stretched-link">
                        Leia mais <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col my-3">
            <div class="card text-center h-100 bg-light border-0 py-3">
                <div class="card-header text-dark border-0 bg-transparent">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-tasks fa-stack-1x text-light"></i>
                    </span>
                </div>
                <div class="card-body py-0 text-dark">
                    <h4>Requisitos</h4>
                    <p>
                        Conheça os fatores que aumentam as chances do surgimento espontâneo
                        da POG no ambiente de trabalho.
                    </p>
                </div>
                <div class="card-footer border-0 bg-transparent pb-3">
                    <a href="{{'capitulos/requisitos/' | relative_url}}" class="btn btn-secondary stretched-link">
                        Leia mais <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col my-3">
            <div class="card text-center h-100 bg-light border-0 py-3">
                <div class="card-header text-dark border-0 bg-transparent">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-scroll fa-stack-1x text-light"></i>
                    </span>
                </div>
                <div class="card-body py-0 text-dark">
                    <h4>Princípios</h4>
                    <p>
                        Entenda os príncipios universais que regem a Programação
                        Orientada a Gambiarra e aprenda como tornar suas POGs mais
                        resilientes!
                    </p>
                </div>
                <div class="card-footer border-0 bg-transparent pb-3">
                    <a href="{{'capitulos/principios/' | relative_url}}" class="btn btn-secondary stretched-link">
                        Leia mais <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col my-3">
            <div class="card text-center h-100 bg-light border-0 py-3">
                <div class="card-header text-dark border-0 bg-transparent">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-cogs fa-stack-1x text-light"></i>
                    </span>
                </div>
                <div class="card-body py-0 text-dark">
                    <h4>Técnicas</h4>
                    <p>
                        Torne-se um ninja na criação de novas POGs! Domine as
                        técnicas dos mestres da Programação Orientada a Gambiarra!
                    </p>
                </div>
                <div class="card-footer border-0 bg-transparent pb-3">
                    <a href="{{'capitulos/tecnicas/' | relative_url}}" class="btn btn-secondary stretched-link">
                        Leia mais <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col my-3">
            <div class="card text-center h-100 bg-light border-0 py-3">
                <div class="card-header text-dark border-0 bg-transparent">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-project-diagram fa-stack-1x text-light"></i>
                    </span>
                </div>
                <div class="card-body py-0 text-dark">
                    <h4>Gambi Design Patterns</h4>
                    <p>
                        Descubra como "otimiazar" seu trabalho através do reuso da
                        experiência dos mestres da criação de problemas corriqueiros!
                    </p>
                </div>
                <div class="card-footer border-0 bg-transparent pb-3">
                    <a href="{{'capitulos/gambi-design-patterns/' | relative_url}}" class="btn btn-secondary stretched-link">
                        Leia mais <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Depoimento -->
<div class="container px-4 py-5 ">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-7">
            <div class="text-center">
                <div class="fs-4 mb-4 fst-italic">
                    "Esse livro elevará o nível de suas habilidades
                    gambiarrizadoras e de sua capacidade de criar mais
                    problemas que soluções! Prepare-se pra descobrir que
                    em casa de ferreiro, quem com ferro fere tanto bate até que fura!!!"
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <img class="rounded-circle me-3" heigth="60" width="60"
                        src="{{'assets/images/avatar/avatar-vudu.png' | relative_url}}"
                        alt="O ser humano mais lindo do planeta">
                    <div class="fw-bold">
                        Josenaldo Matos
                        <span class="fw-bold text-primary mx-1">/</span>
                        Autor Irrelevante e Anônimo
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- News -->

<section class="container px-4 py-5">
    <h2 class="pb-3 text-center">Novidades</h2>

    <div class="row row-cols-1 row-cols-md-3">

        {% for post in site.posts limit:3 %}

        {% if post.image %}
        {% assign imagem_do_post = post.image %}
        {% else %}
        {% assign imagem_do_post = "default-cover.jpg"%}
        {% endif%}

        <div class="col-lg-4 my-3">
            {%include card.html
                title=post.title
                link=post.url
                image=post.image
                category=post.category
                date=post.date
                content=post.excerpt %}
        </div>
        {% endfor %}
    </div>
</section>