---
layout: default
title: Novidades
---

<section class="py-5">
    <div class="container px-3">
        <div class="card rounded-3">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-1">
                        </div>

                        <div class="col-lg-8 col-10 fs-6" id="main-text">
                            <h1 class="text-center mb-2 display-1">{{ page.title }}</h1>
                            <hr>
                            {% for post in site.posts %}
                            <div class="col-12 mb-4">
                                {%include card.html
                                    title=post.title
                                    link=post.url
                                    image=post.image
                                    category=post.category
                                    date=post.date
                                    content=post.excerpt %}
                            </div>
                            {% endfor %}

                        </div>

                        <div class="col-lg-2 col-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>