<footer class="page-footer bg-dark py-4 mt-3" id="sticky-footer">
	<div class="container px-3">
		<div class="row align-items-center justify-content-between flex-column flex-sm-row">
			<div class="col-sm text-white text-center">
				<p class="social-title">Encontre esse projeto no Github</p>
				<a href="https://github.com/josenaldo/livro-pog/" class="link-light" target="_new">
					<i class="fab fa-github fa-3x"></i>
				</a>
			</div>

			<div class="col-sm text-white text-center">
				<p class="social-title">Ajude esse projeto</p>
				<a href="{{'ajude/' | relative_url}}" target="_new" class="link-light">
					<i class="fas fa-handshake fa-3x"></i>
				</a>
			</div>

			<div class="col-sm text-white text-center">
				<p class="social-title">Quer falar comigo?</p>
				<div class="social">
					<ul class="social-link">
						<li>
							<a class="link-light" href="mailto:josenaldo@gmail.com" target="_new">
								<i class="fas fa-envelope fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://github.com/josenaldo" target="_new">
								<i class="fab fa-github-alt fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://www.twitter.com/vudureverso" target="_new">
								<i class="fab fa-twitter fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://www.linkedin.com/in/josenaldo/" target="_new">
								<i class="fab fa-linkedin fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://www.facebook.com/josenaldo.matos" target="_new">
								<i class="fab fa-facebook fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://www.instagram.com/vudureverso" target="_new">
								<i class="fab fa-instagram fa-2x"></i>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright text-light">
		<div class="container text-center">
			Copyright © 2021 - Vudu Reverso - Tudo nessa porra é reservado
		</div>
	</div>

</footer>
