<footer class="page-footer bg-dark py-4 mt-auto" id="sticky-footer">
	<div class="container px-3">
		<div class="row align-items-center justify-content-between flex-column flex-sm-row">
			<div class="col-sm text-center">
				<p class="social-title text-light">Encontre esse projeto no Github</p>
				<div class="social">
					<ul>
						<li>
							<a href="https://github.com/josenaldo/livro-pog/" target="_new">
								<i class="fab fa-github fa-5x"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-sm text-white text-center">
				<p class="social-title">Patrocine esse projeto</p>
				<div class="social-link">
					<p>
						<a href="https://picpay.me/josenaldo" target="_new">
							https://picpay.me/josenaldo
						</a>
					</p>
					<p>
						<img src="{{'assets/images/qrcode-200.png' | relative_url}}" alt="Doe para PicPay @Josenaldo" class="social-link">
					</p>

				</div>
			</div>

			<div class="col-sm text-white text-center">
				<p class="social-title">Quer falar comigo?</p>
				<div class="link-light social">
					<ul class="social-link">
						<li>
							<a class="link-light" href="mailto:josenaldo@gmail.com" target="_new">
								<i class="fas fa-envelope fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://github.com/josenaldo" target="_new">
								<i class="fab fa-github-alt fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://www.twitter.com/vudureverso" target="_new">
								<i class="fab fa-twitter fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://www.linkedin.com/in/josenaldo/" target="_new">
								<i class="fab fa-linkedin fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://www.facebook.com/josenaldo.matos" target="_new">
								<i class="fab fa-facebook fa-2x"></i>
							</a>
						</li>

						<li>
							<a class="link-light" href="https://www.instagram.com/vudureverso" target="_new">
								<i class="fab fa-instagram fa-2x"></i>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright text-light">
		<div class="container text-center">
			Copyright © 2021 - Vudu Reverso - Tudo nessa porra é reservado
		</div>
	</div>

</footer>
