<header class="site-header">

    <div class="nav navbar-fixed">
        <nav class="{{ site.css }} darken-4">
            <div class="nav-wrapper">
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <a internal class="brand-logo waves-effect" href="{{'' | relative_url}}"> POG
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a internal class="waves-effect" href="{{'' | relative_url}}">Home</a>
                    </li>
                    <li>
                        <a internal class="waves-effect" href="{{'capitulos' | relative_url}}"> Capítulos</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

    <ul id="nav-mobile" class="sidenav">
        <li><a internal class="waves-effect waves-light" href="{{'' | relative_url}}">Home</a></li>
        <li><a internal class="waves-effect waves-light" href="{{'capitulos' | relative_url}}">Capítulos</a></li>
    </ul>
</header>
