<header>
    <nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand d-flex align-items-center col-md-auto mb-2 mb-md-0" href="{{'/' | relative_url}}">
                <img src="{{'/assets/images/logo/brand.png' | relative_url}}" alt="{{site.title}}" />
                POG
            </a>


            <button
                class="btn btn-outline-light text-light ol-12 col-md-auto mb-2 justify-content-right mb-md-0"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#sidebar"
                role="button"
                aria-controls="sidebar"
                aria-expanded="true"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
