<header>
    <nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand d-flex align-items-center col-md-auto mb-2 mb-md-0" href="{{'/' | relative_url}}">
                <img src="{{'/assets/images/logo/brand.png' | relative_url}}" alt="{{site.title}}" />
                POG
            </a>

            <div class="col-md-auto mb-2 justify-content-right mb-md-0">
                <button type="button" class="btn btn-secondary btn-lg mx-2" data-bs-toggle="modal"
                    data-bs-placement="bottom" data-bs-target="#settingsModal" role="button"
                    aria-controls="popover-font-settings" aria-expanded="true"
                    aria-label="Mostra Configurações de Fontes">
                    <i class="fas fa-font fa-fw"></i>
                </button>

                <button type="button" class="btn btn-secondary btn-lg mx-2" data-bs-toggle="offcanvas"
                    data-bs-target="#sidebar" role="button" aria-controls="sidebar" aria-expanded="true"
                    aria-label="Mostra menu de navegação">
                    <i class="fas fa-bars fa-fw"></i>
                </button>
            </div>

        </div>
    </nav>
</header>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="modal-font-settings" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-font-settings">Configurações</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label class="form-label" for="font-size-group">Tamanho da fonte</label>
                    <div class="btn-group" id="font-size-group" role="group" aria-label="Mudar tamanho de fonte">
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-font fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-font fa-2x"></i>
                        </button>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="form-label" for="font-face-group">Tipo de fonte</label>
                    <div class="btn-group" id="font-face-group" role="group" aria-label="Mudar tipo da fonte">
                        <input type="radio" class="btn-check" name="fontChoice" id="fontFaceSerif" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="fontFaceSerif">serif</label>

                        <input type="radio" class="btn-check" name="fontChoice" id="fontFaceSans" autocomplete="off">
                        <label class="btn btn-outline-primary" for="fontFaceSans">sans</label>
                    </div>
                </div>
                <div class="row mb-3" id="theme-chooser">
                    <label class="form-label" for="theme-group">Tema</label>
                    <div class="btn-group" id="theme-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="themeChoice" id="theme_litera" autocomplete="off" value="litera">
                        <label class="btn btn-outline-primary" for="theme_litera">Claro</label>

                        <input type="radio" class="btn-check" name="themeChoice" id="theme_sandstone" autocomplete="off" value="sandstone">
                        <label class="btn btn-outline-primary" for="theme_sandstone">Sepia</label>

                        <input type="radio" class="btn-check" name="themeChoice" id="theme_darkly" autocomplete="off" value="darkly" checked>
                        <label class="btn btn-outline-primary" for="theme_darkly">Escuro</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>