<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/katex.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160840751-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-160840751-1');
</script>


<script type="text/javascript" src="{{ site.baseurl }}/assets/js/app.js"></script>