.social {

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin: 0 5px;
            ;

            a:-webkit-any-link {
                text-decoration: none !important;
                border-bottom: none !important;
            }
        }
    }
}