/*
Error: Invalid CSS after "...?family=Roboto)": expected "{", was ";"
        on line 4 of assets/css/default.scss

1: --- 
2: --- 
3: 
4: @import url(https://fonts.googleapis.com/css?family=Roboto);
5: 
6: $screen-sm-min: 768px;
7: $screen-md-min: 992px;
8: $screen-lg-min: 1200px;
9: 

Backtrace:
assets/css/default.scss:4
/usr/local/bundle/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/engine.rb:290:in `render'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/local/bundle/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/local/bundle/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/local/bundle/bin/sass:29:in `load'
/usr/local/bundle/bin/sass:29:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...?family=Roboto)\": expected \"{\", was \";\"\A         on line 4 of assets/css/default.scss\A \A 1: --- \A 2: --- \A 3: \A 4: @import url(https://fonts.googleapis.com/css?family=Roboto);\A 5: \A 6: $screen-sm-min: 768px;\A 7: $screen-md-min: 992px;\A 8: $screen-lg-min: 1200px;\A 9: "; }
