@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  margin: 0;
  padding: 0;
  text-align: justify;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.site-header .logo {
  font-size: 2.1rem;
  margin-left: 10px; }
.site-header .sidenav li > a {
  font-size: 20px; }

.hero-image-404 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("/assets/images/404.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px; }
  .hero-image-404 h1 {
    font-weight: bolder; }
  .hero-image-404 p {
    font-weight: bolder; }

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("/assets/images/logo/hero.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px; }
  .hero-image h1 {
    font-weight: bolder; }
  .hero-image p {
    font-weight: bolder; }

.page-footer {
  padding: 3em 0 0 0;
  text-align: center; }
  .page-footer .social-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5em; }
  .page-footer .social-link {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1em; }
    .page-footer .social-link a {
      color: #FFFFFF; }
  .page-footer .social ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .page-footer .social ul li {
      display: inline;
      font-size: 32px;
      margin: 0 5px; }
      .page-footer .social ul li a:-webkit-any-link {
        text-decoration: none !important;
        color: #FFFFFF; }

.container-aula h1 {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 3.2rem; }
.container-aula h2 {
  text-align: left;
  font-size: 2.8rem; }
.container-aula h3 {
  text-align: left;
  font-size: 2.4rem; }
.container-aula h4 {
  text-align: left;
  font-size: 2.0rem; }
.container-aula h5 {
  text-align: left;
  font-size: 1.6rem; }
.container-aula h6 {
  text-align: left;
  font-size: 1.2rem; }
.container-aula .video {
  display: block;
  max-width: 100%;
  width: 100%;
  text-align: center; }

.card .card-title {
  font-weight: bold; }
  .card .card-title h1 {
    display: inline-block;
    font-weight: bold; }
.card .card-content {
  word-wrap: normal; }
  .card .card-content .highlight {
    word-wrap: normal; }
  .card .card-content .card-text {
    text-align: left; }
  .card .card-content p {
    margin-top: 0;
    margin-bottom: 16px; }
  .card .card-content blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: 5px solid #263238 !important;
    background-color: #eceff1 !important; }
.card .cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s all ease;
  overflow: hidden; }
.card .cover .cover-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: clip;
  max-width: 100%; }
.card .cover .filter {
  width: 100%;
  height: 120%;
  opacity: 0.7;
  display: block; }

.sentence {
  margin: 0 0 10px 0;
  text-align: center;
  border: none;
  padding: 5px; }
  .sentence p {
    margin: 0;
    font-size: large; }
  .sentence footer {
    font-size: small; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

.card a.single {
  margin: 0; }

.card.horizontal .card-image {
  overflow: hidden;
  max-width: 50%; }

.bibliography {
  padding-inline-start: 10px;
  text-align: left; }
  .bibliography li {
    margin-bottom: 20px;
    word-wrap: break-word; }

.capitulo-nav {
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px; }

.sumario .sumario-item {
  display: block; }
  .sumario .sumario-item .sumario-titulo {
    font-weight: bold;
    font-size: larger; }
  .sumario .sumario-item .sumario-descricao {
    font-size: small;
    margin: 0 0 1em 2em;
    text-align: left; }

.brand-logo {
  background-image: url("/assets/images/logo/brand.png");
  background-repeat: no-repeat;
  background-position-y: center;
  margin-left: 10px;
  padding-left: 50px !important;
  font-weight: bold; }

.post-content p {
  margin-bottom: 10px !important; }
