---
layout: asset
---
@import "tipografia";

body {
    font-family: $font-family-sans-serif !important;

    .card, .card-text, #card-content {
        font-family: $font-family-sans-serif !important;
    }
}
