---
layout: default
---
<div class="container-fluid card advantage z-depth-2">

    {%if page.image %}
        <div class="cover card-title center-align" style="background-image: url('{{site.baseurl}}/assets/images/{{page.image}}');">
            <div class="filter">
                <div class="cover-text white-text {{site.css}} darken-3" >
                    <h1>{{page.title}}</h1>
                </div>
            </div>

        </div>
    {%else%}
        <div class="cover card-title center-align" style="background-image: url('{{site.baseurl}}/assets/images/default-cover.jpg');">
            <div class="cover-text white-text {{site.css}} darken-3" >
                <h1>{{page.title}}</h1>
            </div>
        </div>
    {%endif%}


    <div class="card-content {{ site.css }}-text text-darken-4">

        {{ content }}

        <div class="capitulo-nav row">
            <div class="col s4 left-align">
                <a class="{{ site.css }}-text text-lighten-4 waves-effect"
                    href="{{site.baseurl}}{{ page.previous.url }}">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-arrow-left fa-stack-1x {{ site.css }}-text text-darken-4" ></i>
                    </span>
                </a>
            </div>
            <div class="col s4 center-align">
                <a class="{{ site.css }}-text text-lighten-4 waves-effect" href="{{site.baseurl}}/capitulos/">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-home fa-stack-1x {{ site.css }}-text text-darken-4"></i>
                      </span>
                </a>
            </div>
            <div class="col s4 right-align">
                <a class="{{ site.css }}-text text-lighten-4 waves-effect" href="{{site.baseurl}}{{ page.next.url }}">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-arrow-right fa-stack-1x {{ site.css }}-text text-darken-4"></i>
                      </span>
                </a>
            </div>
        </div>
    </div>
</div>