---
layout: default
---

{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
    {% assign document = site[the_collection] | sort:"order_number" %}
{% endif %}

{% for links in document %}
    {% if links.title == page.title %}
        {% unless forloop.first %}
            {% assign prev_url = prev.url %}
            {% assign prevtitle = prev.title %}
        {% endunless %}

        {% unless forloop.last %}
            {% assign next = document[forloop.index] %}
            {% assign next_title = next.title %}
            {% assign next_url = next.url %}
        {% endunless %}
    {% endif %}
    {% assign prev = links %}
{% endfor %}


<section class="py-5">
    <div class="container px-3">
        <div class="card rounded-3">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-1 d-flex justify-content-center navigation pt-2 position-relative">
                            {% if prev_url %}
                                <a class="stretched-link" href="{{prev_url | relative_url}}">
                                    <i class="fas fa-angle-left fa-lg"></i>
                                </a>
                            {% endif %}
                        </div>

                        <div class="col-lg-8 col-10 fs-6" id="main-text">

                            <img src="{{ page.image.path | default: page.image | relative_url }}" class="img-fluid rounded mb-2" alt="{{ page.title }}">
                            <h1 class="text-center mb-2 display-1">{{ page.title }}</h1>

                            <blockquote class="text-center px-2 mb-2 text-muted">
                                <p class="">{{page.sentence}}</p>
                                <figcaption class="blockquote-footer small">
                                    <cite title="{{page.sentence-author}}">{{page.sentence-author}}</cite>
                                </figcaption>
                            </blockquote>

                            <h3 class=" mb-2 text-center">{{page.description}}</h3>
                            <hr>

                            <div class="card-text" id="card-content">
                                {{ content }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-1 d-flex justify-content-center navigation pt-2 position-relative">
                            {% if next_url %}
                                <a class="stretched-link" href="{{next_url | relative_url}}">
                                    <i class="fas fa-angle-right fa-lg"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
