---
layout: default
---

{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
    {% assign document = site[the_collection] | sort:"order_number" %}
{% endif %}

{% for links in document %}
    {% if links.title == page.title %}
        {% unless forloop.first %}
            {% assign prevurl = prev.url %}
            {% assign prevtitle = prev.title %}
        {% endunless %}

        {% unless forloop.last %}
            {% assign next = document[forloop.index] %}
            {% assign nexttitle = next.title %}
            {% assign nexturl = next.url %}
        {% endunless %}
    {% endif %}
    {% assign prev = links %}
{% endfor %}

<div class="container-fluid card advantage z-depth-2">
    {% if page.image %}
        {% assign imagem_do_post =  page.image %}
    {% else %}
        {% assign imagem_do_post = "default-cover.jpg"%}
    {% endif%}

    <div class="z-depth-1 center-align cover"
        style="background-image: url('{{imagem_do_post | relative_url}}'); background-repeat: no-repeat, repeat;">
        <div class="{{ site.css }} darken-4 filter">
            <div class="cover-text white-text text-darken-4">
                <h1>{{page.title}}</h1>
                <p>{{page.description}}</p>
            </div>
        </div>
    </div>

    <blockquote class="sentence {{site.css}} lighten-5">
        <p>{{page.sentence}}</p>
        <footer>
            <cite>{{page.sentence-author}}</cite>
        </footer>
    </blockquote>

    <div class="card-content {{ site.css }}-text text-darken-4">
        <div class="row">
            <div class="col s1">
                {% if prevurl %}
                    <a class="{{ site.css }}-text text-lighten-4 waves-effect"
                        href="{{prevurl | relative_url}}">
                        <span class="fa-stack fa-2x fa-fw">
                            <i class="fas fa-square fa-stack-2x"></i>
                            <i class="fas fa-arrow-left fa-stack-1x {{ site.css }}-text text-darken-4"></i>
                        </span>
                    </a>
                {% endif %}
            </div>
            <div class="col s10">
                {{ content }}
            </div>
            <div class="col s1">
                {% if nexturl %}
                    <a class="{{ site.css }}-text text-lighten-4 waves-effect"
                        href="{{nexturl | relative_url}}">
                        <span class="fa-stack fa-2x fa-fw">
                            <i class="fas fa-square fa-stack-2x"></i>
                            <i class="fas fa-arrow-right fa-stack-1x {{ site.css }}-text text-darken-4"></i>
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="capitulo-nav row {{site.css}} lighten-5">
        <div class="col s4 left-align">
            {% if prevurl %}
                <a class="{{ site.css }}-text text-lighten-4 waves-effect"
                    href="{{prevurl | relative_url}}">
                    <span class="fa-stack fa-2x fa-fw">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-arrow-left fa-stack-1x {{ site.css }}-text text-darken-4"></i>
                    </span>
                </a>
            {% endif %}

        </div>
        <div class="col s4 center-align">
            <a class="{{ site.css }}-text text-lighten-4 waves-effect" href="{{'capitulos' | relative_url}}">
                <span class="fa-stack fa-2x fa-fw">
                    <i class="fas fa-square fa-stack-2x"></i>
                    <i class="fas fa-home fa-stack-1x {{ site.css }}-text text-darken-4"></i>
                </span>
            </a>
        </div>

        <div class="col s4 right-align">
        {% if nexturl %}
            <a class="{{ site.css }}-text text-lighten-4 waves-effect"
                href="{{nexturl | relative_url}}">
                <span class="fa-stack fa-2x fa-fw">
                    <i class="fas fa-square fa-stack-2x"></i>
                    <i class="fas fa-arrow-right fa-stack-1x {{ site.css }}-text text-darken-4"></i>
                </span>
            </a>
            {% endif %}
        </div>
    </div>
</div>